.modal.micromodal-slide(id=`modal-${desc.id}` aria-hidden="true")
  .modal__overlay(tabindex="-1" data-micromodal-close)
    article.modal__container(role="dialog" aria-modal="true" aria-labelledby=`modal-${desc.id}`)

     
      .modal__content#modal-1-content
        button.modal__close-icon.c-button(type="button" aria-label="Close modal" data-micromodal-close)
          span.u-visuallyHidden close
        .l-container.-small
          header.c-head-secondary
            p.c-head-secondary__cat(lang="en") #{desc.category}
            h1.c-head-secondary__main #{desc.name}

          .p-garally.js-swiper-wrap
            .swiper
              .js-swiper
                ul.p-garally__list.swiper-wrapper
                  each item in desc.garally
                    li.p-garally__item.swiper-slide
                      img(src=`/assets/img/work/${item}.png` srcset=`/assets/img/work/${item}.png 1x, /assets/img/work/${item}@2x.png 2x`)
            .js-pagenation.swiper-pagination
            .js-pager-prev.swiper-button-prev
            .js-pager-next.swiper-button-next
          
          each content in contents
            dl.p-desc
              dt.p-desc__head #{content.head}
              dd.p-desc__content
                if content.dd
                  each e in content.dd
                    if e.name || e.url
                      p.p-desc__text #{e.name}
                        a(href=e.url, target="_blank", rel="noopener noreferrer") #{e.url}
                    
                    if e.smallText
                      p.p-desc__text #{e.text}
                      p.p-desc__text.-small
                        a(href=e.smallText, target="_blank", rel="noopener noreferrer") #{e.smallText}

                  
                if content.text
                  p.p-desc__text #{content.text}

          button.modal__close-text.c-button(type="button" aria-label="Close modal" lang="en" data-micromodal-close) Close
